body{
    background-color : #2C3B70;
    margin : 0;
    padding : 0;
    font-family: 'Ubuntu', sans-serif;
}
p{
    color : #FFFFFF;
    font-size: 18px;
}

label{
    color: white;
}
h2{
    color : white!important;
    text-align: center;
}
h4{
    color: white;
    text-align:left;
}
input[type="radio"]{
    color: white;

}
.container{
    display: flex;
    align-items: center;
    position: relative;
}

.row{
    position: absolute;
    top : 50%;
    left : 50%;
    margin : 130px 0 0 -200px;
    background-color : #203050;
    width : 460px;
    min-height : 260px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.row form{
    padding : 20px;
}